<!DOCTYPE html>
<html lang=”en”>
  <% include ./partials/head %>
<body>
  <div style="width:50%; margin:0 auto;">
    <h1>Login</h1>
    <form method="post" action="/login">
      <p>
        <label>Username:</label>
        <input type="text" name="username" required>
      </p>
      <p>
        <label>Password:</label>
        <input type="text" name="password" required>
      </p>
      <p>
        <input type="submit" value="Login">
      </p>
    </form>
  </div>
</body>
</html>
