<!DOCTYPE html>
<html lang=”en”>
  <% include ./partials/head %>
<body>
  <div style="width:50%; margin:0 auto;">
    <h1>Sign Up</h1>
    <form method="post" action="/signup">
      <p>
        <label>Email:</label>
        <input type="text" name="email" required>
      </p>
      <p>
        <label>Username:</label>
        <input type="text" name="username" required>
      </p>
      <p>
        <label>Password:</label>
        <input type="text" name="password" required>
      </p>
      <p>
        <input type="submit" value="Sign Up">
      </p>
    </form>
  </div>
</body>
</html>
